:host {
  display: block;
  padding: 20px 12px;
}

.main-menu-list {
  display: grid;
  list-style: none;
  grid-gap: 8px;
}

.menu-item {
  font-size: .875rem;
  font-weight: 700;
  line-height: 24px;
  display: grid;
  align-items: center;
  width: 100%;
  padding: 16px 12px;
  cursor: pointer;
  text-align: start;
  color: var(--light-color);
  border: none;
  border-radius: 2px;
  background: none;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;

  &:hover,
  &:focus-visible {
    color: var(--primary-color);
    background: var(--dark-hover-color);
  }

  &__svg {
    width: 16px;
    height: 16px;
  }
}
